

.ant-btn{
  background-color: transparent !important;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    background-color: var(--blue)!important;
    color: white !important;
  }
  }
  .main-container{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .form-container{
      width: 450px;
     
      border: 1px solid var(--shadow);
      padding: 30px;
      border-radius: 20px;
      background-color: var(--card);
      box-shadow: 0px 0px 10px 7px var(--shadow);
      .head{
        text-align: center;
        padding: 15px 10px;
        font-size: 22px;
        font-weight: 500;
        color: var(--black);
        span{
          color: var(--blue);
        }
      }
      #password{
        color: var(--black) !important;
      }
    }
  }
  
  .btn-container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .btn{
      background-color: var(--blue) !important;
      color: white!important;
      &:hover{
        background-color: transparent !important;
        color: var(--blue)!important;
      }
    }
    p{
      color: var(--black)
    }
  }
  .click{
    padding-inline: 5px;
    cursor: pointer;
    color: var(--blue);
  }
  .ant-form-item{
   margin-bottom: 10px;
   label{
     font-size: 15px !important;
     color: var(--black) !important;
   }
  }
  .ant-input{
  padding-inline: 0px !important;
    border-radius: 0;
    border: none !important;
    color: var(--black);
    &::placeholder{
      color: var(--placeholderColor) !important;
    }
   
  
  }
  .ant-input-number{
    width: 100%;
  }
  .ant-form-item-control-input{
    border-bottom: 1px solid var(--black) !important;
  
    span{
      border: none !important;
      border-radius: 0px;
     padding-inline: 0px;
    }
    &:hover{
  border-color: var(--blue);
    }
  }
  .ant-form-item-control-input .anticon {
    color: var(--placeholderColor) !important;
  }
  @media screen and (max-width: 500px){
    .main-container{
      .form-container{
        width: 300px;
      }
    }
    .ant-btn{
      font-size: 10px !important;
    }
  }
  